#everything {
	margin: 0 auto;
}

h1 {
	font-size: 5vh;
	font-weight: 500;
}

p {
	line-height: 4.75vh;
}

#pic-descript {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4vh;
}

#description {
	font-size: 3.25vh;
	width: 40vw;
}

#korea {
	height: 90vh;
}
