#everything {
	margin: 0 auto;
}

#pic-descript {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4vh;
}

#description {
	font-size: 3vh;
	width: 40vw;
}

#korea {
	height: 90vh;
}
