:root {
	--main-dark: #1C1C1C;
	--main-light: #7C878E;
}

html {
	box-sizing: border-box;
}

*, *:after,*:before{
	box-sizing: inherit;
}

body, html {
	margin: 0px;
	font-family: Dosis, sans-serif;
	font-weight: 400;
	font-size: 2.1vh;
	color: var(--main-dark);
}

body {
	margin: 6vh 16vw;
}

.active {
	color: var(--main-dark);
	font-weight: bold;
}

a {
	color: var(--main-light);
	text-decoration: none;
}

.roboto {
	font-family: Roboto, Dosis;
	color: var(--main-light);
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 4vw;
}

#menu-icon {
	display: none;
	z-index: 2;
}

#navbar-items {
	display: flex;
	flex-direction: row;
}

.item {
	margin-left: 2.5vw;
}

.item.web:after {
	content: '';
	width: 0;
	height: 2px;
	margin-top: -1px;
	display: block;
	right: 0;
	background: var(--main-dark);
	transition: width .3s ease;
	opacity: 0.75;
}
  
.item.web:hover:after {
	width: 100%;
	left: 0;
	background: var(--main-dark);
	opacity: 0.75;
}

#mobile-nav {
	position: absolute;
	visibility: hidden;
}

.section {
	width: 68vw;
	height: 68vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-size: 5vh;
	width: 44vw;
	font-weight: 500;
}

.light {
	color: var(--main-light);
}

.media {
	height: 3.75vh;
	margin-right: 2vw;
	opacity: 0.75;
	transition: opacity 0.2s;
	margin-bottom: 8vh;
}

#fb:hover, #ig:hover, #li:hover, #mail:hover {
	opacity: 1;
}

h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
