@media screen and (min-width: 1400px) {
	body {
		width: 1250px;
		margin: 6vh auto;
	}
}

@media screen and (min-width: 1600px) {
	#everything {
		width: 1250px;
		margin: 6vh auto;
	}

	#description {
		font-size: 2.5vh;
		width: 32vw;
	}
	
	#korea {
		height: 80vh;
	}

	.media {
		height: 3.25vh;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-size: 2.25vh;
		margin: 4vh 6vw;
	}

	#logo {
		width: 14vw;
	}

	#navbar-items {
		display: none;
	}

	#menu-icon {
		width: 8vw;
		display: inline;
	}

	#mobile-nav {
		display: flex;
		flex-direction: column;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#mobile-nav .item {
		color: var(--main-dark);
		font-size: 8vw;
	}

	h2 {
		font-size: 3.5vh;
		display: block;
		width: 80vw;
	}

	.media {
		margin-right: 6vw;
	}

	h3 {
		text-align: center;
	}

	.active {
		font-weight: bold;
	}

	/* ABOUT ME */
	#pic-descript {
		flex-direction: column;
	}

	#korea {
		height: 50vh;
	}

	#description {
		width: 88vw;
	}
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	body {
		font-size: 4vh;
		width: 76vw;
		margin: 4vh auto;
	}

	#logo {
		width: 6vw;
	}

	#navbar-items {
		display: none;
	}

	#menu-icon {
		width: 4vw;
		display: inline;
	}

	h2 {
		font-size: 6vh;
		display: block;
		width: 60vw;
	}

	.media {
		height: 6vh;
	}

	#mobile-nav {
		display: flex;
		flex-direction: column;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	#mobile-nav .item {
		color: var(--main-dark);
		font-size: 3.5vw;
	}

	.active {
		font-weight: bold;
	}

	/* ABOUT ME */
	#pic-descript {
		flex-direction: column;
	}

	h1 {
		font-size: 4vw;
	}

	#korea {
		height: 88vh;
	}

	#description {
		font-size: 3vw;
		width: 74vw;
	}

	#description p {
		line-height: 8vh;
	}
}